<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>KateProj</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/Kolobayeva/workshop-3">Колобаєва Катерина</a>  <!-- Посилання на репозиторій з кодом !-->
    </div>




    <ul class="navbar-nav">
        <li class="nav-item "><a class="nav-link" href="index.html">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="Board.html">Board</a></li>
        <li class="nav-item  "><a class="nav-link" href="Messages.html">User messages</a></li>
	<li class="nav-item  active"><a class="nav-link" href="Search.html">Search</a></li>
	<li class="nav-item  "><a class="nav-link" href="Dashboard.html">Dashboard</a></li>

    </ul>

</nav>
<div class="container">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
        </div>
        <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Phone</th>
			<th scope="col">Name</th>
            <th scope="col">Message</th>
            <th scope="col">Board</th>

        </tr>
        </thead>
        
    </table>
</div>
</body>
</html>
